{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section">
      <h5>My subscriptions:</h5>
      <p>People I am following</p>
    </div>
    <div class="divider"></div>

{% for person in following_list %}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-action">
                <div class="row">
                    <div class="col s4">
                        {% if person.subscribed.profile.picture %}
                            <a href="{% url 'profile' person.subscribed.username %}"> <img src="{{ person.subscribed.profile.picture.url }}" class="circle responsive-img"> </a>
                        {% else %}
                            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
                        {% endif %}
                        <!--
                         {% if person.expired == True %}
                           <span class="red-text">Expired</span>
                         {% else %}
                            <span class="teal-text accent-4"><b>{{ person.date }}</b> days left</span>
                         {% endif %} -->
                    </div>
                    <div class="col s8">
                        <span class="card-title">{{ person.subscribed.first_name }}</span>
                        <br>
                        <span>@<b>{{ person.subscribed.username }}</b></span>
                        <p>{{ person.subscribed.profile.profile_info }}</p>
                        <!--
                        {% if person.expired == True %}
                            <a class="waves-effect waves-light btn amber"><i class="material-icons left">autorenew</i>Renew subscription</a>
                        {% else %}
                            <a class="waves-effect waves-light btn red"><i class="material-icons left">cancel</i>Cancel subscription</a>
                        {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}