{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block banner %}

<div class="col s12 m12">
  <div class="card">
    <div class="card-action">
        <div class="row">
          <div class="col s12 m4 offset-m1">
            {% if profile.picture %}
            <img src="{{ profile.picture.url }}" class="circle responsive-img">
            {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
            {% endif %}
          </div>

          <div class="right-align">
            {% if user.is_authenticated and user == profile.user %}
            <a href="{% url 'edit-profile' %}" class="waves-effect waves-light btn black"><i class="material-icons">edit</i> edit</a>
            {% endif %}

            {% if user.is_authenticated and user != profile.user %}
            <a href="{% url 'subscribe' profile.user.username %}" class="waves-effect waves-light btn black"><i class="material-icons">favorite</i>Subscribe</a>
            <a href="{% url 'subscribe' profile.user.username %}" class="waves-effect waves-light btn black"><i class="material-icons">favorite</i>Unsubscribe</a>
            {% if person_in_list == True %}
            <!-- <a href="{% url 'remove-from-list' profile.user.username %}" class="waves-effect waves-light btn black"><i class="material-icons">favorite</i>Remove</a> -->
            {% else %}
            <a href="{% url 'subscribe' profile.user.username %}" class="waves-effect waves-light btn black"><i class="material-icons">favorite</i>Subscribe</a>
            <a href="{% url 'subscribe' profile.user.username %}" class="waves-effect waves-light btn black"><i class="material-icons">favorite</i>Unsubscribe</a>
            <!-- <a href="#modal1" class="modal-trigger"><i class="material-icons">favorite</i>Favorite</a> -->
            {% endif %}
            {% endif %}
          </div>

          <div class="col s10 offset-s1 m6 push-m1">
            <h4><b>{{ profile.nickname }}</b></h4>
            <h5>@{{ profile.user.username }}</h5>
            {{ profile.profile_info }}
            <h1><div class="selection"></div></h1>
          </div>

          {% include "new_list_modal.html" %}

          <div class="row">
            <div class="col s4 m2">
              <div class="icon-block">
                <h3 class="center"><i class="material-icons">crop_original</i></h3>
                <p class="center">Posts</p>
                <h5 class="center">{{ posts_count }}</h5>
              </div>
            </div>
            <div class="col s4 m2">
              <div class="icon-block">
                <h3 class="center"><i class="material-icons">people_outline</i></h3>
                <p class="center">Followers</p>
                <!-- <h5 class="center">{% if income == None %}0{% else %}{{ income.tier__price__sum }}{% endif %}</h5> -->
              </div>
            </div>
            <div class="col s4 m2">
              <div class="icon-block">
                <h3 class="center"><i class="material-icons">recent_actors</i></h3>
                <p class="center">Products</p>
                <h5 class="center">{{ fans_count }}</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

    {% if user.is_authenticated and user != profile.user %}
    <div class="card-action">
      <div class="row">
        {% for tier in tiers %}
        <div class="col s12 m4">
          <div class="card-panel center-align">
             <h3>${{ tier.price }}</h3>
            # <span>{{ tier.description }}</span>
            <br><br>
            <a href="{% url 'subscribe' profile.user.username %}" class="waves-effect waves-light btn amber"><i class="material-icons right">star</i>Subscribe</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s4 m3"><a target="_self" class="{% if page_type == 3 %}active{% endif %}" href="{% url 'profile' profile.user.username %}">Check-lists</a></li>
        <li class="tab col s4 m3"><a target="_self" class="{% if page_type == 1 %}active{% endif %}" href="{% url 'profilephotos' profile.user.username %}">Marathons</a></li>
        <li class="tab col s4 m3"><a target="_self" class="{% if page_type == 2 %}active{% endif %}" href="{% url 'profilevideos' profile.user.username %}">Consultation</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
<!-- {% if no_a_subscriber == False %}

<div class="center-align">
  <br><br><br><br><br>
  <i class="material-icons large">lock</i>
  <h3>Subscribed to see {{ profile.user.first_name }} {{ profile.user.last_name }} content</h3>
  <br><br><br><br><br>
</div>

{% else %}  -->

{% if page_type == 1 %}
<div class="row">
  {% for post in posts %}
  <div class="col s12 m4">
    <img class="materialboxed" width="100%" src="{{ post.file.url }}">
  </div>
  {% endfor %}
</div>
{% elif page_type == 2 %}
<div class="row">
  <div class="col s12 m4">
    <h4>Coming soon...</h4>
  </div>
  <!--
  {% for post in posts %}
  <div class="col s4">
    <video class="responsive-video" controls="controls" preload="metadata">
      <source src="{{ post.file.url }}#t=0.5" type="video/mp4">
    </video>
  </div>
  {% endfor %} -->

</div>
{% else %}

<div class="row">
  {% for post in posts %}

  <div class="col s12 m4">
    <div class="card">

      <div class="card-image">
        {% if post.content.first.file.name|slice:"-3:" == 'jpg' %}
        <a href="{{ post.get_absolute_url }}"><img src="{{ post.content.first.file.url }}"></a>
        <span class="card-title"><b>{{ post.title }}</b></span>
        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a> -->
        {% else %}
        <div class="video-container">
          <video class="responsive-video materialboxed" width="100%" controls="controls" preload="metadata">
            <source src="{{ post.content.first.file.url }}#t=0.5" type="video/mp4">
          </video>
        </div>
        {% endif %}
      </div>

      <div class="card-content">
        {{ post.caption }}
      </div>

      <div class="card-action">
        <div class="row">
          <!--
          <div class="col s2">
            {% if post.user.profile.picture %}
            <img src="{{ post.user.profile.picture.url }}" class="circle responsive-img">
            {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
            {% endif %}
          </div> -->
          <div class="col s12 m4">
            <!-- <h6><b>{{ post.user.first_name }} {{ post.user.last_name }}</b></h6> -->
            <span>Published on: <br> <b>{{ post.posted | naturaltime }}</b></span>
          </div>
        </div>
      </div>

      <div class="card-action">
        <a href="{% url 'postlike' post.id %}"><i class="material-icons left">thumb_up</i>{{ post.likes_count }} </a>
        <!-- <a href="#"><i class="material-icons">favorite</i> {{ post.favorites_count }} </a> -->
        <a href="#"><i class="material-icons">comment</i> {{ post.comments_count }} </a>
      </div>

    </div>
  </div>
  {% endfor %}
</div>

{% endif %}

{% endif %}

<!--
<div class="col s12 m12 center-align">
  {% if posts.has_previous %}
  <a href="?page={{ posts.previous_page_number }}" class="btn amber"><i class="material-icons right">arrow_back</i>Back</a>
  {% endif %}

  {% if posts.has_next %}
  <a href="?page={{ posts.next_page_number }}" class="btn amber"><i class="material-icons right">add</i>Load more</a>
  {% endif %}
</div> -->
{% endblock %}