{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Info_store Log In</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="row center-align">
      <div class="col s4 offset-s4">
          <h4>Info_store <img class="responsive-img" src="{% static 'img/logo_s.png' %}"></h4>
          <form method="post" action="" role="form">
              {% csrf_token %}
              <div class="input-field col s12">
                  {{ form.username }}
                  <label for="username">Username</label>
              </div>
              <div class="input-field col s12">
                  {{ form.password }}
                  <label for="password">Password</label>
                  <h5><div class="section"></div></h5>
              </div>

      {% if form.errors %}
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
        </div>
      </div>
      {% endif %}

      <div class="field">
      <p class="control">
          <button type="submit" value="login" class="btn amber waves-effect waves-orange btn-large col s12">Login</button></p>
    </div>

    <input type="hidden" name="next" value="{{ next }}">


              <a href="{% url 'signup' %}" class="btn amber waves-effect waves-orange col s12">Sign Up</a>
        </form>
    </div>
  </div>
</div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' }"></script>

  </body>
</html>